.pres {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  .pres__text {
    font-family: "Bebas Neue", cursive;
    line-height: 150%;
    letter-spacing: 0.135em;
    text-shadow: 2px 3px 2px rgb(201, 199, 199, 0.5);
    font-size: 46px;
    text-align: center;
    color: $primaryColor;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    @include medium {
      align-items: center;
      p {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }
    @include xx-small {
      align-items: flex-start;
      margin-top: 50px;
      text-align: center;
      font-size: 28px;
      width: 80%;
      line-height: 150%;
    }
  }
  .pres__text--rotate {
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    position: relative;
    display: inline-block;
    width: 300px;
    text-align: center;
  }
  &__check {
    font-size: 18px;
    margin-top: 200px;
    @include xx-small {
      margin-top: 100px;
    }
    cursor: pointer;
    svg {
      width: 50px;
      transform: rotate(90deg);
      display: flex;
      margin-left: 30%;
    }
  }
}
