@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC|Six+Caps&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cedarville+Cursive&display=swap");
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

@import "_variables.scss";
@import "_project.scss";
@import "_loading.scss";
@import "_hero.scss";
@import "_nav.scss";
@import "_animations.scss";
@import "footer.scss";

html {
  scroll-behavior: smooth;
}
p,
h4 {
  font-family: "Montserrat";
  color: $primaryColor;
}
a {
  text-decoration: none;
}
